@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* over on social-icons  */
li > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;

}

ul.social-icons {
    margin-top: 10px;
    margin-bottom: 10px;
}
.social-icons li {
    display: inline;

}
.social-icons a {
    color: #fff;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;

}
.fa-facebook:hover {
    background-color: #1a62f3;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
}
.fa-linkedin:hover {
    background-color: #e4467b;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
}
.fa-github:hover {
    background-color: #f6b910;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
}
.fa-instagram:hover {
    background-color: #69914d;
}

.fa-google {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
}
.fa-google:hover {
    background-color: #5a32a3;
}

/*now the container div seting to put the dar div and ido div side by side*/

.footer-container {
    display: flex;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    border-top: 3px solid rgb(49, 38, 38);
    padding: 80px ;
    font-size: 15px;
    color: #f6d267;
    

}


.footer-container-child:first-child {
    margin-right: 20px;
} 

._14 {
    text-align: center;
}



